@if (ExpiringDateTime.HasValue)
{
    var remainingTime = ExpiringDateTime.Value - DateTime.Now;

    if (remainingTime.Days > 0)
    {
        <span class="text-danger">Remains @remainingTime.Days days</span>
    }
    else if (remainingTime.Days == 0)
    {
        <span class="text-danger">Remains @remainingTime.Hours hours</span>
    }
}

@code {
    [Parameter] public DateTime? ExpiringDateTime { get; set; }
}
