@page  "/{handler?}"
@using Licenser.Server.Web
@model Licenser.Server.Web.Pages.HostModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMS Administration</title>
    <base href="~/" />

    <link href="vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Sms.Licensing.Web.styles.css" rel="stylesheet" />
    <link href="_content/Syncfusion.Blazor/styles/bootstrap4.css" rel="stylesheet" />
    @*<link href="vendor/fontawesome/css/all.min.css" rel="stylesheet" />*@
    <script defer src="vendor/fontawesome/js/all.js"></script>
</head>
<body>

    <environment include="Staging,Production">
        <component render-mode="ServerPrerendered" type="typeof(App)" />
    </environment>
    <environment include="Development">
        <component render-mode="Server" type="typeof(App)" />
    </environment>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    
    <script src="_framework/blazor.server.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $("[data-toggle=\"tooltip\"]").tooltip();
    </script>
</body>
</html>
