@page

@using Microsoft.AspNetCore.Authentication
@model Licenser.Server.Web.Pages.DiagnosticsModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMS Web Diagnostics</title>

    <link href="vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-black shadow py-2 mb-3">
            <div class="container">
                <a class="navbar-brand" href="https://smartmealservice.com/">
                    <img class="rounded" src="/img/sms-logo.svg" alt="Smart Meal Service" height="32" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <h1>Authentication Cookie</h1>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h2>Claims</h2>
                        </div>
                        <div class="card-body">
                            <dl>
                                @foreach (var claim in User.Claims)
                                {
                                    <dt>@claim.Type</dt>
                                    <dd>@claim.Value</dd>
                                }
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h2>Properties</h2>
                        </div>
                        <div class="card-body">
                            @{
                                var authenticateResult = await HttpContext.AuthenticateAsync();

                                if (authenticateResult.Properties?.Items != null)
                                {
                                    <dl>
                                        @foreach (var prop in authenticateResult.Properties?.Items)
                                        {
                                            <dt>@prop.Key</dt>
                                            <dd>@prop.Value</dd>
                                        }
                                    </dl>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
