<footer class="footer bg-black py-5 mt-3">
    <div class="container">
        <span class="text-light">Smart Meal Service &nbsp;</span>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-lg"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="https://vk.com/"><i class="fab fa-vk fa-lg"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="https://www.youtube.com/"><i class="fab fa-youtube fa-lg"></i></a>
            </li>
        </ul>
    </div>
</footer>
