@inherits LayoutComponentBase

@using Sms.Licensing.Web.Authentication
@inject AuthenticationHelper AuthenticationHelper

<AuthorizeView>
    <Authorized>
        <NavTopBar></NavTopBar>
        <main>
            <div class="container">
                @Body
            </div>
        </main>
        <Footer></Footer>
    </Authorized>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthenticationHelper.CheckAuthenticationAsync();
    }
}